.clients-list {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--link-color);
    border-color: var(--link-color);
    border: 1px solid var(--link-color);
    border-radius: 4px;
    padding: 16px 32px; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.clients-list__link {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
    &:not(:last-child) {margin-bottom: 30px;}
    flex-basis: calc(100% / 2 - 30px);
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3); 
        width: 226px;
    } 
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 180px) / 6); 
        width: 170px; 
    }
}
