
.page-header {
  border-bottom: 1px solid var(--border-bottom);
  @media screen and (min-width: 768px) {
 &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
}
}

.site-nav {
  display: none;
    // display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
    }
&__item:not(:last-child) {
  margin-right: 50px;
}
}

.contact-list {
  display: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: start;}
      @media screen and (min-width: 768px) { 
        &__item:not(:last-child) {
        margin-bottom: 10px;
     }
    @media screen and (min-width: 1200px) {
      flex-direction: row;}
   &__item:not(:last-child) {
   margin-right: 30px;
}
    }
  }

.site-nav__link, .site-nav__link--current {
  @media screen and (min-width: 780px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.site-nav__link, .site-nav__link--current {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    color: var(--accent-color);}
}

.contact-list__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    color: var(--accent-color);}
  &:hover .contact-list__icon, &:focus .contact-list__icon {
  fill: var(--accent-color);}
}

.site-nav__link--current {
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
  display: inline-block;
  content: "";  
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .mobile-nav {
    z-index: 2;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
.container {position: relative;
padding-top: 40px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
 &.is-hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  }
}
  
.menu-close {
  position: absolute;
  top: 25px;
  right: 21px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}


.menu-open {
position: absolute;
right: 21px;
margin: 0;
padding: 0;
border: none;
background-color: transparent;
&:hover,
&:focus,
&:active {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px), (min-width: 1200px) {
  display: none;
}
}

  .mobile-nav.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .mobile-menu__link, .mobile-menu__link--current {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
  }

  .mobile-menu__link--current {
    color: var(--accent-color);
  }

  .mobile-menu__item {
    margin-bottom: 36px;
  }

  .mobile-contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    color: #757575;
  }

  .mobile-contacts__link--accent {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.16;
    text-decoration: none;
    color: var(--accent-color);
  }

  .mobile-media {
    display: flex;
    margin-top: 64px;
  }

  .mobile-media__link {
    text-decoration: none; 
    border-right: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
padding-right: 10px;
color: var(--accent-color);
  }

  .mobile-media__link {
    padding-right: 10px;
    margin-right: 10px;
  }

  .mobile-contacts__item:not(:last-child) {
    font-weight: 500;
font-size: 34px;
line-height: 1.17;
margin-bottom: 32px;
@media screen and (max-width: 480px) {
  flex-wrap: wrap;
  }
  }
