.hero-section {
    text-align: center;
}

.hero-section__title {
    margin-top: 0;
    margin-bottom: 30px;
}

.hero-section__title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 44px;
      }
}
.overlay {
    padding-top: 118px;
  padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-color: var(--primary-text-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 767px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 58, 57, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-mobil.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 58, 57, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-mobil-2.jpg);
    }
    @media screen and (min-width: 768px) {
      padding-top: 118px;
      padding-bottom: 118px;
      background-image: linear-gradient(
          to right,
          rgba(47, 58, 57, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-tablet.jpg);
  
      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 58, 57, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero/hero-tablet-2.jpg);
      }
    }

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(
          to right,
          rgba(47, 58, 57, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-desktop.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 58, 57, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero/hero-desktop-2.jpg);
      }
    }
}

