.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    max-height: 609px;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--primary-white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    &-form {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) {
    width: 450px;}
    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
    }

  .modal-form__title  {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.17;
      color: var(--title-text-color);
      margin-bottom: 12px;  
      text-align: center;}
    }

.modal-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cecbcb;
  padding-left: 40px;
  outline: none;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__field {
  font-size: 12px;
  color: var(--dark-grey);
  display: inline-block;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__field--wrap {
  position: relative;
  display: block;
  margin-top: 8px;
}

.modal-form__text {
  width: 100%;
  height: 130px;
  resize: none;
  padding: 20px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);
  outline: none;
}

.modal-form__check--wrap {
  width: 20px;
  height: 20px;
  border: 1px solid var(--title-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-right: 7px;
  background-color: var(--primary-white-color);
  vertical-align: middle;
}

.modal-form__check:checked + .modal-form__check--policy .modal-form__check--wrap {
  background-color: var(--accent-color);
}

.modal-form__check--policy {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.modal-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-self: center;
}

  .backdrope {
    position: fixed;
    top:0;
    left: 0;
    width: 100vW;
    height: 100vh;
    background-color: var(--backdrope-color);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
         &.is-hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .modal {
            transform: translate(-50%, -50%) scale(0.7);
}
    }
  }

.conditions {
    color: var(--accent-color);
}

.modal-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-self: center;
}

.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 8px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: black;
    cursor: pointer;
}