 .principles-list {
@media screen and (min-width: 768px) {
    display:flex;
    flex-wrap: wrap;
     margin-left: -30px;
}
@media screen and (min-width: 1200px) {
    margin-left: 30px;
}
 }

.principles-list__title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
    text-align: left;
       }
}
.principles-list__item {
    width: 100%;
    @media screen and (min-width: 768px) {
     flex-basis: calc((100% - 60px) / 2);
     margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
        margin-left: 15px;
}
}

.principles-list__item:not(:last-child) {
    @media screen and (max-width: 768px) {
    margin-bottom: 30px;}
}
 
 .principles-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-background-color);
    padding: 25px 25px;
    border-radius: 4px;
}