
.workers-section {
    background-color: var(--grey-background-color);
}

.workers-list {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.box-workers   {
    width: 100%;
    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;}
    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
   }
}

.box-workers:not(:last-child){
    margin-bottom: 30px;
}

.box-workers__title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.box-workers__type {
    font-size: 16px;
    line-height: 1.19;
}

.box-workers__text {
    background-color: var(--primary-white-color) ;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    } }
