
     .links-list {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    
    .links-list__item--back {
        padding: 12px;
        align-items: center;
        justify-content: center;
        background: var(--primary-white-color);
        display: flex;
        border-radius: 50%;
        fill: var(--link-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
        background-color: var(--accent-color); 
        fill: var(--primary-white-color);
        }
    }
    
    .links-footer {  
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        background: var(--footer-link-color);
        border-radius: 50%;
        fill: var(--primary-white-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {background-color: var(--accent-color); 
            fill: var(--primary-white-color); }
    }

    .footer-link {
        display: block;
        color: var(--primary-white-color);
        opacity: 0.6;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
    