
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    display: block;
    width: 100%;}

.hidden {
    display: none;}

    

