:root {
    --main-font: "Roboto", sans-serif;
    --accent-font: "Raleway", sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --dark-background-color: #2F303A;
    --grey-background-color: #F5F4FA;
    --border-color: #EEEEEE;
    --border-bottom: #ECECEC;
    --link-color: #AFB1B8;
    --footer-link-color: rgba(255, 255, 255, 0.1);
    --background-work:  rgba(47, 48, 58, 0.8);
    --background-description: rgba(33, 150, 243, 0.9);
    --backdrope-color: rgba(0, 0, 0, 0.2);
}